#user-device-bind-car {
  #photo {
    .content-block-title {
      margin-top: 15px;
      font-size: 16px;
    }
    .content-block {
      margin-bottom: 15px;
    }
    .row {
      padding-left: 15px;
      .col-auto {
        padding-bottom: 15px;
        padding-right: 15px;
      }
    }
  }
}