.lcb-image-field {
  position: relative;
  input[type='file'] {
    z-index: 5;
    border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
  }
}